@charset "UTF-8";
@import "../fonts.css";
@import "../global.css";
@import "../utils.css";
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1224px;
  margin: 0px auto;
}

.dropdown {
  display: none;
}

main {
  color: #101828;
}

.site-header {
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: fixed;
  margin: 0 auto;
  gap: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #2D66EE;
  padding: 24px 16px;
  z-index: 100000;
}
.site-header .header-menu-768,
.site-header .header-menu-425 {
  display: none;
}
.site-header .brand-logo {
  font-size: 20px;
  font-weight: 700;
}
.site-header nav {
  color: #101828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.site-header .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.site-header .contact-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.intro {
  background-color: #F2F4F7;
  padding: 160px 0 270px 0;
}
.intro .intro-text {
  width: 600px;
  margin-bottom: 64px;
}
.intro .intro-text div {
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  padding-bottom: 24px;
}
.intro .intro-text div span {
  color: #2D66EE;
}
.intro .intro-text p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.intro .intro-form {
  width: 676px;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  -webkit-box-shadow: 0, 0, 0.5, #474747;
          box-shadow: 0, 0, 0.5, #474747;
}
.intro .intro-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.intro .intro-form .form p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.intro .intro-form .form-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro .intro-form .form-elements div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro .intro-form .form-elements input {
  border: none;
  border-bottom: 0.7px solid #D0D5DD;
  width: 224px;
  padding: 8px 0;
  font-weight: 400px;
  font-size: 17px;
}
.intro .intro-form .form-elements label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #667085;
}
.intro .intro-form .form-elements button {
  background-color: #2D66EE;
  padding: 11px 24px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.technologies-content {
  padding: 80px 0 82px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 232px;
  color: #101828;
}
.technologies-content .technologies-column .technologies-column-content {
  margin-bottom: 34px;
}
.technologies-content .technologies-column .technologies-column-content div {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
  text-align: left;
  padding-bottom: 32px;
}
.technologies-content .technologies-column .technologies-column-content p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.technologies-content .technologies-column li {
  padding: 12px 0;
}
.technologies-content .technologies-column a {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.technologies-content .technologies-column a:hover {
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: #2D66EE;
}
.technologies-content .technologies-column .technologies-column-text div div {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.technologies-content .technologies-column .technologies-column-text div:first-child {
  padding-bottom: 32px;
}
.technologies-content .technologies-column .technologies-column-text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}
.technologies-content .technologies-column .technologies-column-element {
  padding-left: 12px;
  color: #2D66EE;
}

.footer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  border-radius: 12px;
  padding: 24px;
  background-color: #101828;
  color: #fff;
}
.footer-footer .footer-brand {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
}
.footer-footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-footer .footer-links .footer-links-items p {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
}
.footer-footer .footer-links .footer-links-items .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin-bottom: 11px;
}
.footer-footer .footer-links .footer-links-items .footer-item p {
  color: #98A2B3;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.footer-footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.development {
  background-color: #F2F4F7;
}
.development-content-title {
  width: 600px;
  padding: 80px 0 28px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
}
.development-content-title span {
  color: #306FF5;
}
.development-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 280px;
  margin-bottom: 120px;
}
.development-content-list p {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  margin-left: 16px;
}
.development-content-list li {
  width: 33.3333333333%; /*разделение на три колонки */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.development-content-list li div {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  position: relative;
}
.development-content-list li img {
  position: absolute;
  left: 25%;
  top: 25%;
}
.development-project {
  padding-bottom: 63px;
}
.development-project-text {
  width: 600px;
  margin-bottom: 40px;
}
.development-project-text div {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
  margin-bottom: 24px;
}
.development-project-text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.development-project-some-list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.development-project-some-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.development-project-some-list li {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  padding: 16px;
}
.development-project-some-list li a:hover {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  -webkit-text-decoration: 2px underline rgb(45, 102, 238);
          text-decoration: 2px underline rgb(45, 102, 238);
}
.development-project-some-list button {
  background-color: rgb(45, 102, 238);
  border: none;
  border-radius: 8px;
  padding: 11px 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(255, 255, 255);
}
.development-project-some-teka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.development-project-some-teka-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.development-project-some-teka-content-title h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
}
.development-project-some-teka-content-title button {
  display: none;
}
.development-project-some-teka-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.development-project-some-teka-content-grey {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(71, 84, 103);
}
.development-project-some-teka-content-grey span {
  color: rgb(45, 102, 238);
}
.development-project-some-teka-content-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.development-project-some-teka-content-icon div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.development-project-some-teka-content-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.development-project-some-teka-content-number div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.development-project-some-teka-content-number div div {
  font-size: 24px;
  font-weight: 700;
  line-height: 34.56px;
}
.development-project-some-teka-content-number div p {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(102, 112, 133);
}

.block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.block-item-button {
  display: none;
}
.block-item-button2 {
  display: none;
}

.discuss {
  position: relative;
  background-color: rgb(45, 102, 238);
}
.discuss-image {
  position: relative;
  z-index: 1;
}
.discuss-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/Fon.png") no-repeat center/cover;
  opacity: 0.25;
  z-index: -1;
}
.discuss-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  gap: 24px;
}
.discuss-content-text {
  color: rgb(255, 255, 255);
  width: 600px;
}
.discuss-content-text div {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
  margin-bottom: 24px;
}
.discuss-content-text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.discuss-content-form {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
}
.discuss-content-form button {
  float: right;
  background-color: #2D66EE;
  text-align: end;
  padding: 11px 24px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.discuss-content-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.discuss-content-form-input div {
  width: 264px;
}
.discuss-content-form-input div label {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(102, 112, 133);
}
.discuss-content-form-input div input {
  border: none;
  border-bottom: 0.7px solid #D0D5DD;
  width: 224px;
  padding: 8px 0;
  font-weight: 400;
  font-size: 17px;
}

.team {
  background-color: rgb(242, 244, 247);
  padding: 80px 0 160px 0;
}
.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team-info {
  width: 600px;
  margin-right: 21px;
}
.team-info-video {
  display: none;
}
.team-info h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
  margin-bottom: 34px;
}
.team-info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 34px;
}
.team-info p:last-child {
  margin-bottom: 0;
}
.team-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.team-info-list div {
  width: 184px;
}
.team-info-list div div {
  font-size: 48px;
  font-weight: 700;
  line-height: 69.12px;
  padding-bottom: 8px;
}
.team-info-list div p {
  color: rgb(102, 112, 133);
}
.team-video {
  content: "";
  background-color: aqua;
  background-image: url("../../img/video.jpg");
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 400px;
}

.stages-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
  margin-top: 80px;
}
.stages-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 34px 0 80px 0;
}
.stages-table-column {
  height: 564px;
  width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stages-table-column-item {
  min-height: 172px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
}
.stages-table-column-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}
.stages-table-column-item div h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 24px;
}
.stages-table-column-item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.stages-table-column .analysis {
  background: url("../../img/stages/1.png") no-repeat;
  background-position: right top;
}
.stages-table-column .design {
  background: url("../../img/stages/2.png") no-repeat;
  background-position: right top;
}
.stages-table-column .devel {
  background: url("../../img/stages/3.png") no-repeat;
  background-position: right top;
}
.stages-table-column .testing {
  background: url("../../img/stages/4.png") no-repeat;
  background-position: right top;
}
.stages-table-column .launching {
  background: url("../../img/stages/5.png") no-repeat;
  background-position: right top;
}
.stages-table-column .support {
  background: url("../../img/stages/6.png") no-repeat;
  background-position: right top;
}

.book {
  position: relative;
  background-color: rgb(45, 102, 238);
}
.book-image {
  position: relative;
  z-index: 1;
}
.book-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/Fon.png") no-repeat center/cover;
  opacity: 0.25;
  z-index: -1;
}
.book-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.book-content-item {
  padding: 80px 0;
  width: 600px;
}
.book-content-item-group-2 {
  display: none;
}
.book-content-item-group-3 {
  display: none;
}
.book-content-item h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
  color: #fff;
}
.book-content-item-form {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
}
.book-content-item-form-button {
  text-align: end;
}
.book-content-item-form button {
  background-color: #2D66EE;
  text-align: end;
  margin-top: 24px;
  padding: 11px 24px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.book-content-item-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.book-content-item-form-input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.book-content-item-form-input div label {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(102, 112, 133);
}
.book-content-item-form-input div input {
  border: none;
  border-bottom: 0.7px solid #D0D5DD;
  width: 264px;
  padding: 8px 0;
  font-weight: 400;
  font-size: 17px;
}
.book-content-item-form-input div .email {
  width: 552px;
}
.book-content-image {
  padding: 34px 0;
}

.faq-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 51.84px;
  padding: 80px 0 40px 0;
}
.faq-content {
  margin-bottom: 80px;
}
.faq-content-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.faq-content-column-item {
  width: 600px;
}
.faq-content-column-item hr {
  color: rgb(208, 213, 221);
  opacity: 0.4;
}
.faq-content-column-item-str {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq-content-column-item-str div {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.faq-content-column-item-str div img {
  position: absolute;
  left: 20%;
  top: 20%;
}
.faq-content-column-item-str p {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

@media screen and (max-width: 1039px) {
  .container {
    max-width: 702px;
    margin: 0 auto;
  }
  .container-dop {
    margin: 0;
  }
  br {
    display: none;
  }
  .dropdown {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  .dropdown .dropdown-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F2F4F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 41px 55px 0 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdown .dropdown-container .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 51.84px;
  }
  .dropdown .brand-logo {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #2D66EE;
    margin: 42px 0 52px 0;
  }
  .dropdown .contact-info-items {
    gap: 32px;
    margin: 52px 0 137px 0;
  }
  .dropdown .contact-info-items div {
    color: #2D66EE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 3px;
  }
  .site-header {
    left: 0;
    right: 0;
    padding: 25px 32px;
    margin-top: 16px;
    gap: 158px;
  }
  .site-header .header-menu-768 {
    display: block;
  }
  .site-header .header-nav,
  .site-header .contact-info-items:first-child {
    display: none;
  }
  .intro {
    padding: 140px 0 32px 0;
  }
  .intro .intro-text {
    width: 383px;
  }
  .intro .intro-text div {
    font-size: 28px;
    line-height: 40px;
  }
  .intro .intro-form {
    width: 383px;
  }
  .intro .intro-form .form-elements {
    display: block;
  }
  .intro .intro-form .form-elements div {
    margin-bottom: 32px;
  }
  .technologies-column {
    max-width: 320px;
  }
  .technologies-content {
    padding: 32px 0 35px 0;
    gap: 83px;
  }
  .technologies-content div {
    font-size: 28px;
    line-height: 40px;
  }
  .technologies-column-text p {
    font-size: 14px;
  }
  .technologies-column-item {
    padding-top: 124px;
  }
  .background-images {
    display: none;
  }
  .development-content-title {
    font-size: 28px;
    line-height: 40.32px;
    width: 380px;
    padding: 45px 0 48px 0;
  }
  .development-content-list {
    height: 457px;
    margin-bottom: 44px;
  }
  .development-content-list li {
    width: 50%;
  }
  .development-project {
    font-size: 14px;
    padding-bottom: 45px;
  }
  .development-project-text {
    width: 456px;
    margin-bottom: 26px;
  }
  .development-project-text div {
    font-size: 28px;
    line-height: 40.32px;
  }
  .development-project-text p {
    font-size: 14px;
  }
  .development-project-some-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .development-project-some-list li {
    padding: 15px;
    font-size: 14px;
  }
  .development-project-some-list button {
    display: none;
  }
  .development-project-some-teka-content {
    gap: 32px;
  }
  .development-project-some-teka-content-p {
    width: 459px;
    font-size: 14px;
  }
  .development-project-some-teka-content-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .development-project-some-teka-content-title button {
    display: block;
    background-color: rgb(45, 102, 238);
    border: none;
    border-radius: 8px;
    padding: 11px 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: rgb(255, 255, 255);
  }
  .development-project-some-teka-content-grey {
    font-size: 13px;
  }
  .development-project-some-teka-content-icon {
    font-size: 14px;
  }
  .development-project-some-teka-image {
    display: none;
  }
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block-item-button {
    display: block;
  }
  .block-button2 {
    display: none;
  }
  .discuss-content {
    padding: 22px 0 32px 0;
    gap: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discuss-content-text br {
    display: block;
  }
  .discuss-content-text div {
    font-size: 28px;
    font-weight: 700;
    line-height: 40.32px;
    margin-bottom: 32px;
  }
  .discuss-content-text p {
    font-size: 14px;
  }
  .discuss-content-form {
    width: 600px;
  }
  .discuss-content-form-input {
    gap: 24px;
  }
  .discuss-content-form-input div input {
    width: 264px;
  }
  .stages-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 40.32px;
    width: 480px;
    margin-top: 32px;
  }
  .stages-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 51px 0 0 0;
  }
  .stages-table-column {
    height: auto;
    width: 100%;
  }
  .stages-table-column-item {
    margin-bottom: 32px;
  }
  .stages-table-column-item p {
    width: 504px;
  }
  .team {
    padding: 38px 0 52px 0;
  }
  .team-info {
    width: 100%;
    margin-right: 0;
  }
  .team-info-video {
    margin-bottom: 65px;
    content: "";
    background-image: url("../../img/video.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 392px;
  }
  .team-info h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40.32px;
  }
  .team-info p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .team-info p:first-of-type {
    width: 420px;
  }
  .team-video {
    display: none;
  }
  .book-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .book-content-item {
    padding: 76px 0;
  }
  .book-content-item h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40.32px;
    margin-bottom: 53px;
    width: 455px;
  }
  .book-content-item-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 68px;
  }
  .book-content-item-group-2 {
    display: block;
  }
  .book-content-item-form {
    padding: 32px;
    width: 335px;
  }
  .book-content-item-form-input {
    gap: 65px;
  }
  .book-content-item-form-input div .email {
    width: 264px;
  }
  .book-content-item-form-button {
    text-align: center;
  }
  .book-content-image {
    display: none;
  }
  .faq-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 40.32px;
    padding: 22px 0 32px 0;
  }
  .faq-content {
    margin-bottom: 32px;
  }
  .faq-content-column {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq-content-column-item {
    width: 100%;
  }
  .faq-content-column-item .hr-blef {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 393px;
  }
  .intro {
    padding: 140px 0 536px 0;
  }
  .intro-text {
    margin-bottom: 536px;
  }
  .technologies-content {
    padding: 32px 0 52px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
  .technologies-column-item {
    padding: 0;
  }
  .footer-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
  .site-header {
    width: 100%;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    gap: 35%;
  }
  .site-header .header-menu-768 {
    display: none;
  }
  .site-header .header-menu-425 {
    display: block;
  }
  .site-header .contact-info {
    display: none;
  }
  .dropdown .dropdown-container {
    padding: 50px 125px 0 125px;
  }
  .dropdown .brand-logo {
    font-size: 20px;
    line-height: 18px;
    margin: 17px 0 52px 0;
  }
  .dropdown .header-nav {
    font-size: 24px;
    line-height: 35px;
  }
  .dropdown .contact-info-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 52px 0 59px 0;
  }
  .development-content-title {
    padding: 31px 0 27px 0;
  }
  .development-content-list {
    margin-bottom: 32px;
  }
  .development-content-list li br {
    display: block;
  }
  .development-project-text {
    width: 393px;
  }
  .development-project-some-list ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .development-project-some-teka-content-title button {
    display: none;
  }
  .development-project-some-teka-content-p {
    width: 393px;
  }
  .block-item-button {
    display: none;
  }
  .block-item-button2 {
    display: block;
  }
  .discuss-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 128px;
  }
  .discuss-content-form {
    width: 100%;
    padding: 36px 17px;
  }
  .discuss-content-form-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discuss-content-form-input div input {
    width: 358px;
  }
  .discuss-content-form button {
    float: inline-start;
  }
  .stages-text {
    width: 309px;
  }
  .stages-table-column-item {
    margin-bottom: 20px;
  }
  .stages-table-column-item p {
    width: 266px;
  }
  .team {
    padding: 28px 0 45px 0;
  }
  .team-info-video {
    height: 237px;
    margin-bottom: 56px;
  }
  .team-info p {
    width: 376px;
  }
  .team-info p:first-of-type {
    width: 376px;
  }
  .team-info-list {
    gap: 38px;
  }
  .team-info-list div {
    width: 102px;
  }
  .team-info-list div div {
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
  }
  .team-info-list div p {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }
  .book-content-item {
    padding: 50px 0;
  }
  .book-content-item h4 {
    width: 333px;
    margin-bottom: 33px;
  }
  .book-content-item-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 33px;
  }
  .book-content-item-group-3 {
    display: block;
  }
  .book-content-item-group-2 {
    display: none;
  }
  .faq-title {
    padding: 32px 0 32px 0;
  }
  .faq-content-column-item .hr-blef-1 {
    display: none;
  }
  .faq-content-column-item-str p {
    width: 273px;
  }
}
.intro {
  position: relative;
  overflow: hidden;
}
.intro .background-images {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.intro .background-images .image {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro .background-images .image-left {
  right: 40%;
  width: auto;
  height: auto;
  z-index: 2;
  -webkit-animation: moveUpRightLoop 20s linear infinite;
          animation: moveUpRightLoop 20s linear infinite;
}
.intro .background-images .image-right {
  right: -35%;
  width: auto;
  height: auto;
  -webkit-animation: moveDownLeftLoop 20s linear infinite;
          animation: moveDownLeftLoop 20s linear infinite;
}
.intro .container {
  position: relative;
  z-index: 3;
}
@-webkit-keyframes moveUpRightLoop {
  0% {
    -webkit-transform: translateY(100%) translateX(210%) rotate(-12deg);
            transform: translateY(100%) translateX(210%) rotate(-12deg);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(0) rotate(-12deg);
            transform: translateY(-100%) translateX(0) rotate(-12deg);
  }
}
@keyframes moveUpRightLoop {
  0% {
    -webkit-transform: translateY(100%) translateX(210%) rotate(-12deg);
            transform: translateY(100%) translateX(210%) rotate(-12deg);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(0) rotate(-12deg);
            transform: translateY(-100%) translateX(0) rotate(-12deg);
  }
}
@-webkit-keyframes moveDownLeftLoop {
  0% {
    -webkit-transform: translateY(-100%) translateX(-210%) rotate(-12deg);
            transform: translateY(-100%) translateX(-210%) rotate(-12deg);
  }
  100% {
    -webkit-transform: translateY(100%) translateX(0) rotate(-12deg);
            transform: translateY(100%) translateX(0) rotate(-12deg);
  }
}
@keyframes moveDownLeftLoop {
  0% {
    -webkit-transform: translateY(-100%) translateX(-210%) rotate(-12deg);
            transform: translateY(-100%) translateX(-210%) rotate(-12deg);
  }
  100% {
    -webkit-transform: translateY(100%) translateX(0) rotate(-12deg);
            transform: translateY(100%) translateX(0) rotate(-12deg);
  }
}