.development {
    background-color: #F2F4F7;

    &-content {

        &-title {
            width: 600px;
            padding: 80px 0 28px 0;
            font-size: 36px;
            font-weight: 700;
            line-height: 51.84px;

            span {
                color: #306FF5;
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            height: 280px;
            margin-bottom: 120px;

            p {
                font-size: 17px;
                font-weight: 500;
                line-height: 22px;
                margin-left: 16px;
            }

            li {
                width: calc(100% / 3); /*разделение на три колонки */
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                div {
                    background-color: #fff;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    width: 44px;
                    height: 44px;
                    border-radius: 100%;
                    position: relative;
                }

                img {
                    position: absolute;
                    left: 25%;
                    top: 25%;
                }
            }
        }
    }

    &-project {
        padding-bottom: 63px;

        &-text {
            width: 600px;
            margin-bottom: 40px;

            div {
                font-size: 36px;
                font-weight: 700;
                line-height: 51.84px;
                margin-bottom: 24px;
            }

            p {
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
            }
        }

        &-some {
            &-list {
                margin-bottom: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                ul {
                    display: flex;
                }

                li {
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 22px;
                    padding: 16px;

                    a {
                        &:hover {
                            font-size: 17px;
                            font-weight: 500;
                            line-height: 22px;
                            text-decoration: 2px underline rgba(45, 102, 238, 1);
                        }
                    }
                }

                button {
                    background-color: rgba(45, 102, 238, 1);
                    border: none;
                    border-radius: 8px;
                    padding: 11px 24px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    color: rgba(255, 255, 255, 1);
                }
            }

            &-teka {
                display: flex;
                justify-content: space-between;
                gap: 24px;

                &-content {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    &-title {
                        h4 {
                            font-size: 36px;
                            font-weight: 700;
                            line-height: 51.84px;
                        }

                        button {
                            display: none;
                        }
                    }

                    p {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    &-grey {
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 22px;
                        color: rgba(71, 84, 103, 1);

                        span {
                            color: rgba(45, 102, 238, 1);
                        }
                    }

                    &-icon {
                        display: flex;
                        gap: 32px;

                        div {
                            display: flex;
                            gap: 8px;
                            align-items: center;
                        }
                    }

                    &-number {
                        display: flex;
                        gap: 48px;

                        div {
                            display: flex;
                            gap: 8px;
                            flex-direction: column;

                            div {
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 34.56px;
                            }

                            p {
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 16px;
                                color: rgba(102, 112, 133, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}

.block {
    &-item {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-button {
            display: none;
        }

        &-button2 {
            display: none;
        }
    }
}