.footer-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 12px;
    padding: 24px;
    background-color: #101828;
    color: #fff;

    .footer-brand {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 18px;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;

        .footer-links-items {
            p {
                font-weight: 600;
                font-size: 17px;
                line-height: 22px;
            }

            .footer-item {
                display: flex;
                align-items: center;
                gap: 6px;
                margin-bottom: 11px;

                p {
                    color: #98A2B3;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
        gap: 6px;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }
}