@media screen and (max-width: 767px) {
    .container {
        max-width: 393px;
    }

    .intro {
        padding: 140px 0 536px 0
    }

    .intro-text {
        margin-bottom: 536px;
    }

    .technologies_content {
        flex-wrap: wrap;
        gap: 32px;
    }

    .technologies_column_item {
        padding: 0;
    }

    .footer-links {
        flex-wrap: wrap;
        gap: 32px;
    }

    .site-header {
        width: 100%;
        justify-content: initial;
        gap: 35%;

        .header-menu-768 {
            display: none;
        }

        .header-menu-425 {
            display: block;
        }

        .contact-info {
            display: none;
        }
    }

    .dropdown {
        .dropdown-container {
            padding: 50px 125px 0 125px;
        }

        .brand-logo {
            font-size: 20px;
            line-height: 18px;
            margin: 17px 0 52px 0;
        }

        .header-nav {
            font-size: 24px;
            line-height: 35px;
        }

        .contact-info-items {
            flex-direction: column;
            align-items: flex-start;
            margin: 52px 0 59px 0;
        }
    }
}