.team {
    background-color: rgba(242, 244, 247, 1);
    padding: 80px 0 160px 0;

    &-content {
        display: flex;
    }

    &-info {
        width: 600px;
        margin-right: 21px;

        &-video {
            display: none;
        }

        h4 {
            font-size: 36px;
            font-weight: 700;
            line-height: 51.84px;
            margin-bottom: 34px;
        }

        p {
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 34px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-list {
            display: flex;
            gap: 16px;
            margin-bottom: 32px;

            div {
                width: 184px;

                div {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 69.12px;
                    padding-bottom: 8px;
                }

                p {
                    color: rgba(102, 112, 133, 1);
                }
            }
        }
    }

    &-video {
        content: "";
        background-color: aqua;
        background-image: url('../../img/video.jpg');
        background-size: cover;
        background-position: center;
        width: 600px;
        height: 400px
    }
}