@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
         url("/static/fonts/Inter-Bold.ttf") format("truetype"),
         url("/static/fonts/Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Medium'), local('Inter Medium'),
         url("/static/fonts/Inter-Medium.ttf") format("truetype"),
         url("/static/fonts/Inter-Medium.woff2") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Regular'), local('Inter Regular'),
         url("/static/fonts/Inter-Regular.ttf") format("truetype"),
         url("/static/fonts/Inter-Regular.woff2") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-ExtraBold'), local('Inter ExtraBold'),
        url("/static/fonts/Inter-ExtraBold.ttf") format("truetype"),
        url("/static/fonts/Inter-ExtraBold.woff2") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Light'), local('Inter Light'),
        url("/static/fonts/Inter-Light.ttf") format("truetype"),
        url("/static/fonts/Inter-Light.woff2") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Thin'), local('Inter Thin'),
        url("/static/fonts/Inter-Thin.ttf") format("truetype"),
        url("/static/fonts/Inter-Thin.woff2") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Black'), local('Inter Black'),
        url("/static/fonts/Inter-Black.ttf") format("truetype"),
        url("/static/fonts/Inter-Black.woff2") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Italic'), local('Inter Italic'),
        url("/static/fonts/Inter-Italic.ttf") format("truetype"),
        url("/static/fonts/Inter-Italic.woff2") format("woff");
    font-weight: 400;
    font-style: italic;
}